{%extends 'root.html'%}

{%block content%}

<div class="layout">
<div class="content">
    <div class="h_content"><h2>{{post_detail.title}}</h2>{{post_detail.create_date}}</div>
    <p>{{post_detail.text}}</p>
    {%if post_detail.image%}
    <img style="width: 450px;" src = "{{ post_detail.image.url }}">
    {%endif%}



    <div style="background-color: #ffffff6b; width: 100%; margin-top: 20px;">
    {%for com in comments%}
    <div style="padding: 20px; border-bottom: 1px solid #91647b54;;">
        <p style="font-size: 20px; color: rgb(138, 6, 6);">{{com.name}}</p>
        <p>{{com.text}}</p>
    </div>
    {%endfor%}
    </div>


    <form action="" method="post"  style="display: flex; flex-direction: column;">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="Добавить комментарий">
    </form>

    </div>
</div>

{%endblock%}