{%extends 'root.html'%}

{%block content%}
<div class="layout">

    <form action="{%url 'posts'%}" method="get">
        <input type="search" type="text" name="q" placeholder="Найти...">
        <button style="width: 50px;" class="search_button" type="submit">Искать</button>
    </form>


    <div style="background: #ffffffad; padding: 50px; border-radius: 10px;">
<p>Посты</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{post_form.as_p}}
    <button type="submit">Отправить</button>
</form>
  



    {%for post in post_list%}
        <div class="content">
        <a href="/post/{{post.pk}}">
            <div class="h_content"><h2>{{post.title}}</h2>{{post.create_date}}</div>
        </a>
        <p>{{post.text}}</p>
        {%if post.image%}
        <img style="width: 200px;" src = "{{ post.image.url }}">
        {%endif%}
        </div>
    {%endfor%}

    </div>

</div>
{%endblock%}