{%extends 'root.html'%}

{%block content%}
<p>Посты</p>

<forms method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{post_form.as_p}}
    <button type="submit">Отправить</button>
</forms>
  



    {%for post in post_list%}
        <div style="border: 1px solid black; display: flex;flex-direction: column; align-items: flex-start;">
        <div style="display: flex; align-items: center;"><h3>{{post.title}}</h3>{{post.create_date}}</div>
        {{post.text}}
        {%if post.image%}
        <img style="width: 200px;" src = "{{ post.image.url }}">
        {%endif%}
        </div>
    {%endfor%}

{%endblock%}